.loading {
  border: 20px solid rgb(211, 211, 211);
  position: absolute;
  left: 45%;
  border-radius: 50%;
  border-top: 20px solid #4285f4;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
