@font-face {
  font-family: "Agustina Regular";
  src: url("../fonts/Agustina-Signature.otf");
}

/* https://wweb.dev/resources/animated-css-background-generator/ */
@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: -1;
}

.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  animation: animate 13s linear infinite;
}

.background li:nth-child(0) {
  left: 57%;
  width: 136px;
  height: 136px;
  bottom: -136px;
  animation-delay: 1s;
}

.background li:nth-child(1) {
  left: 3%;
  width: 246px;
  height: 246px;
  bottom: -246px;
  animation-delay: 2s;
}

.background li:nth-child(2) {
  left: 16%;
  width: 136px;
  height: 136px;
  bottom: -136px;
  animation-delay: 5s;
}

.background li:nth-child(3) {
  left: 54%;
  width: 251px;
  height: 251px;
  bottom: -251px;
  animation-delay: 7s;
}

.background li:nth-child(4) {
  left: 33%;
  width: 184px;
  height: 184px;
  bottom: -184px;
  animation-delay: 15s;
}

.background li:nth-child(5) {
  left: 40%;
  width: 192px;
  height: 192px;
  bottom: -192px;
  animation-delay: 4s;
}

.background li:nth-child(6) {
  left: 55%;
  width: 221px;
  height: 221px;
  bottom: -221px;
  animation-delay: 3s;
}

.background li:nth-child(7) {
  left: 48%;
  width: 227px;
  height: 227px;
  bottom: -227px;
  animation-delay: 7s;
}
